<!DOCTYPE html>
    <body>
        <header id="header-container" class="container">
            <button id="add-work" class="btn btn-dark"><a href="/today_worksheet">작업지시서 추가</a></button>
        </header>

        <script>
            // let addWorkBtn = $("#add-work");
            // alert(addWorkBtn)
        </script>