<!DOCTYPE html>
    <body>
        <header id="header-container" class="container">
            <button id="today-work-btn" class="btn btn-dark"><a href="/userwork/today_worksheet">금일 업무 등록</a></button>
            <button id="future-work-btn" class="btn btn-dark"><a href="/userwork/future_worksheet">예정된 업무 등록</a></button>
        </header>

        <script>
            // let addWorkBtn = $("#add-work");
            // alert(addWorkBtn)
        </script>