<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title><%=title%></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- 스크립트 코드링크 (CND)를 지정 -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<<<<<<< HEAD
         

        <!-- 부트스트랩 커스터마이징 -->
        <!-- custom.css를 링크걸었는데 적용이 안돼서 일단 style 태그로 적용함 -->
        <style>
            @media (min-width: 992px) {
                .container { max-width: 690p; }
            } 

            @media (min-width: 120px) {
                .container { max-width: 690px; }
            }
            .container { padding-left: 0; padding-right: 0;}

            /* header.ejs */
            #header-container {margin-top: 30px; text-align: center;}

            /* nav.ejs */
            #nav-container { margin-top: 30px; }
            .nav-tabs .nav-link { padding: 10px 51px;}

            /* content.ejs */
            #content-container { border: 1px solid #dee2e6; text-align: center; }

            /* today_worksheet.ejs */
            #form-control-title { width: 300px; margin-top: 50px; }
            #form-control-content { width: 400px; height: 300px; }
        </style>
=======
        <link href="<%=url%>stylesheets/custom.css" rel="stylesheet">
 
    
>>>>>>> jh/master
    </head>