<!DOCTYPE html>

<header id="header-container" class="container">
    <div class="row">
        <div class="col-sm-6">
            <button class="btn btn-dark worksheet-btn float-left" style="margin-right: 5px;"><a href="/userwork/today_worksheet">금주 업무 등록</a></button>
            <button class="btn btn-dark worksheet-btn float-left"><a href="/userwork/future_worksheet">예정 업무 등록</a></button>
        </div>
        <div class="col-sm-6">
            <button class="btn btn-dark logout-btn float-right"><a href="/user/login">로그아웃</a></button>
        </div>
    </div>
</header>

<nav id="nav-container" class="container">
    <!-- 네비게이션 탭 -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#tab1" data-toggle="tab">지난 일정</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#tab2" data-toggle="tab">금주 일정</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#tab3" data-toggle="tab">예정 사항</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#tab4" data-toggle="tab">공지 사항</a>
        </li>
    </ul>
</nav>